<div id="stats">
  <div id="cat">
    <img [src]="cat?.imageUrl" [ngStyle]="{'width': '100%', 'height': '200px', 'object-fit': 'cover', 'object-position': '50% 25%'}"/>
    <div class="infos">
      <div class="total-matchs">Matches: {{cat?.totalMatches}}</div>
      <br/>
      <div class="rating">Rating: {{cat?.rating}}</div>
    </div>
  </div>
  <div id="matches">
    <h2 class="border-animated"><span>Match history</span></h2>
    <ng-template ngFor let-match [ngForOf]="matchesHistory">
      <div class="match-item">
        <div class="vs">VS.</div>
        <div class="opponent" [routerLink]="['/stats', match.opponent.catId]">
          <img [src]="match.opponent.imageUrl" [alt]="match.opponent.catId" [ngStyle]="{'width': '75px', 'height': '75px', 'border-radius': '75px', 'object-fit': 'cover'}"/>
        </div>
        <div class="result">
          <div *ngIf="match.result">WIN</div>
          <div *ngIf="!match.result">LOOSE</div>
          <div>Score: {{match.newRating | plusMinus}}</div>
        </div>
        <div class="time">{{match.date | amCalendar}}</div>
      </div>
    </ng-template>
  </div>
</div>